name: 배포 Fastapi to EC2

# CICD라는 개념이 작동하는 것은
# main 브런치에서 push 이벤트가 발생시 작동됨 - 트리거
on:
    push:
        branches:
            - main

            
# 개별 작업(job)들 나열
jobs:
    # deploy(커스텀명) 라는 잡을 하나 설정 -> n개 가능
    deploy:
        # 어떤 OS에서 진행할것인가? -> github에서 제공함 -> docker(가상화된) 기반
        runs-on: ubuntu-latest
    
        # 작업 단계 지정
        steps:        
            # 1. github에 저장되어 있는 최신 내용 체크아웃(소스를 내려 받는다)
            #    gitaction은 docker를 이용(개념) 가상으로 os를 사용(임시)
            - name: 코드 Checkout
              uses: actions/checkout@v3

            # 1-1. 검증
            - name: 검증
              #  | 는 명령어가 여러개 있을 경우 적용됨 (1개도 ok)
              run: |
                pwd
                ls -al
                cat requirements.txt
              shell: bash
 
            # 2. 필요시 환경설정 파일 구성(.env)
            #    GITHUB의 시크릿변수를 통해서 동적 생성(내일 체크) 
            #    해당 레포지토리 > settint > secret . .....>actions > new repository sectet 버튼 클릭 > 제목, 내용 입력 > 저장
            #    > : 덮어쓰기, >> : 기존 내용 유지 + 새로운 내용(이어쓰기)
            - name: 환경변수 파일(.env) 동적생성
              run: |
                echo "${{ secrets.APP_ENV }}" >> .env
                ls -al
                cat .env
              shell: bash
            # 3. 필요한 파일을 ec2에 복사 (SCP)
            - name: Copy sourcecode to Ec2
              uses: appleboy/scp-action@master
              with: 
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USERNAME }}
                key: ${{ secrets.EC2_KEY }}
                port: 22
                # 지금 appleboy가 안된거같다.
                # 복사할 대상 지정 - `소스`
                source: .
              
                # `타겟` 지정 : EC2에 대한 
                target: "/home/ubuntu/projects"


            # 4. EC2에 필요한 배포 관련 스크립트 작동 (SSH)
            - name: Run Script and Service Restart
              uses: appleboy/ssh-action@master
              with: 
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USERNAME }}
                key: ${{ secrets.EC2_KEY }}
                port: 22
                script: |
                  # 1차로 ec2 세팅을 진행하고 나서 CI/CD 
                  # ec2에 접속하고 나서 진행할 업무 기술
                  # 해당 프로젝트 폴더로 이동(cd)
                  cd /home/ubuntu/projects

                  # 현재 프로젝트 내 파일을 확인
                  ls -al
                
                  # 추가(최초)로 설치된 패키지를 설치
                  # 가상환경을 구동하지 않고, 가상환경의 명령어 직접 사용 가상환경(web)
                  ./web/bin/pip install -r requirements.txt
                  # uvicorn 서비스를 재가동(재시작 : restart) -> sudo
                  sudo systemctl restart hello.service


